{% extends "layout.html" %}

{% block content %}
<section class="greeting">
  <h1 class="gradient-text">Food Demand Forecasting</h1>
  <p>Project Centric Learning | Smart Agriculture & Food</p>
</section>
<p class="info">A food delivery service has to deal with a lot of perishable raw materials which makes it all, the most
  important factor for such a company is to accurately forecast daily and weekly demand. Too much inventory in the
  warehouse means more risk of wastage, and not enough could lead to out-of-stocks - and push customers to seek
  solutions from your competitors. The replenishment of majority of raw materials is done on weekly basis and since the
  raw material is perishable, the procurement planning is of utmost importance, the task is to predict the demand for
  the next 10 weeks.</p>
<p class="info">The main aim of this project is to create an appropriate machine learning model to forecast then number
  of orders to gather raw materials for next ten weeks. To achieve this, we should know the information about of
  fulfilment center like area, city etc., and meal information like category of food sub category of food price of the
  food or discount in particular week. By using this data, we can use any classification algorithm to forecast the
  quantity for 10 weeks. A web application is built which is integrated with the model built.</p>
<a class="btn btn-lg btn-green" href="{{ url_for('predict') }}">Predict</a>
{% endblock %}
